.elementor-1246 .elementor-element.elementor-element-5a23dd4 {
    --display: flex;
    --min-height: 100vh;
    --flex-direction: column;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: center;
    --align-items: center;
    --background-transition: 0.3s;
    --overlay-opacity: 0.7;
}

.elementor-1246 .elementor-element.elementor-element-5a23dd4:not(.elementor-motion-effects-element-type-background), .elementor-1246 .elementor-element.elementor-element-5a23dd4 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-image: url("../../2024/04/factory-manager-using-digital-tablet-check-barcode-8LFBKLF_1114132.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-1246 .elementor-element.elementor-element-5a23dd4::before, .elementor-1246 .elementor-element.elementor-element-5a23dd4 > .elementor-background-video-container::before, .elementor-1246 .elementor-element.elementor-element-5a23dd4 > .e-con-inner > .elementor-background-video-container::before, .elementor-1246 .elementor-element.elementor-element-5a23dd4 > .elementor-background-slideshow::before, .elementor-1246 .elementor-element.elementor-element-5a23dd4 > .e-con-inner > .elementor-background-slideshow::before, .elementor-1246 .elementor-element.elementor-element-5a23dd4 > .elementor-motion-effects-container > .elementor-motion-effects-layer::before {
    --background-overlay: '';
    background-color: var(--e-global-color-8ff4e63);
}

.elementor-1246 .elementor-element.elementor-element-5a23dd4, .elementor-1246 .elementor-element.elementor-element-5a23dd4::before {
    --border-transition: 0.3s;
}

.elementor-1246 .elementor-element.elementor-element-7d68c65 {
    text-align: center;
}

.elementor-1246 .elementor-element.elementor-element-7d68c65 .elementor-heading-title {
    color: var(--e-global-color-secondary);
    font-family: "IBM Plex Sans Arabic", Sans-serif;
    font-size: 13rem;
    font-weight: 700;
    line-height: 0.8em;
}

.elementor-1246 .elementor-element.elementor-element-e5a98b9 {
    text-align: center;
    color: var(--e-global-color-b87daee);
    font-size: var(--e-global-typography-b013c36-font-size);
    font-weight: var(--e-global-typography-b013c36-font-weight);
    line-height: var(--e-global-typography-b013c36-line-height);
    letter-spacing: var(--e-global-typography-b013c36-letter-spacing);
    word-spacing: var(--e-global-typography-b013c36-word-spacing);
    width: var(--container-widget-width, 66%);
    max-width: 66%;
    --container-widget-width: 66%;
    --container-widget-flex-grow: 0;
}

@media (max-width: 1024px) {
    .elementor-1246 .elementor-element.elementor-element-7d68c65 .elementor-heading-title {
        font-size: 9rem;
    }

    .elementor-1246 .elementor-element.elementor-element-e5a98b9 {
        font-size: var(--e-global-typography-b013c36-font-size);
        line-height: var(--e-global-typography-b013c36-line-height);
        letter-spacing: var(--e-global-typography-b013c36-letter-spacing);
        word-spacing: var(--e-global-typography-b013c36-word-spacing);
        --container-widget-width: 100%;
        --container-widget-flex-grow: 0;
        width: var(--container-widget-width, 100%);
        max-width: 100%;
    }
}

@media (max-width: 767px) {
    .elementor-1246 .elementor-element.elementor-element-7d68c65 .elementor-heading-title {
        font-size: 6rem;
    }

    .elementor-1246 .elementor-element.elementor-element-e5a98b9 {
        font-size: var(--e-global-typography-b013c36-font-size);
        line-height: var(--e-global-typography-b013c36-line-height);
        letter-spacing: var(--e-global-typography-b013c36-letter-spacing);
        word-spacing: var(--e-global-typography-b013c36-word-spacing);
    }
}
