.elementor-1241 .elementor-element.elementor-element-1efcc8b {
    --display: flex;
    --min-height: 50vh;
    --flex-direction: column;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: center;
    --align-items: center;
    --background-transition: 0.3s;
    --overlay-opacity: 0.7;
}

.elementor-1241 .elementor-element.elementor-element-1efcc8b:not(.elementor-motion-effects-element-type-background), .elementor-1241 .elementor-element.elementor-element-1efcc8b > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-image: url("../../2024/04/warehouse-workers-checking-inventory-in-a-large-di-E5PHH9X_3145753.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-1241 .elementor-element.elementor-element-1efcc8b::before, .elementor-1241 .elementor-element.elementor-element-1efcc8b > .elementor-background-video-container::before, .elementor-1241 .elementor-element.elementor-element-1efcc8b > .e-con-inner > .elementor-background-video-container::before, .elementor-1241 .elementor-element.elementor-element-1efcc8b > .elementor-background-slideshow::before, .elementor-1241 .elementor-element.elementor-element-1efcc8b > .e-con-inner > .elementor-background-slideshow::before, .elementor-1241 .elementor-element.elementor-element-1efcc8b > .elementor-motion-effects-container > .elementor-motion-effects-layer::before {
    --background-overlay: '';
    background-color: var(--e-global-color-8ff4e63);
}

.elementor-1241 .elementor-element.elementor-element-1efcc8b, .elementor-1241 .elementor-element.elementor-element-1efcc8b::before {
    --border-transition: 0.3s;
}

.elementor-1241 .elementor-element.elementor-element-4f7b64a {
    color: var(--e-global-color-secondary);
    font-family: var(--e-global-typography-8c0b085-font-family), Sans-serif;
    font-size: var(--e-global-typography-8c0b085-font-size);
    font-weight: var(--e-global-typography-8c0b085-font-weight);
    line-height: var(--e-global-typography-8c0b085-line-height);
    letter-spacing: var(--e-global-typography-8c0b085-letter-spacing);
    word-spacing: var(--e-global-typography-8c0b085-word-spacing);
}

.elementor-1241 .elementor-element.elementor-element-8327b00 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --gap: 50px 50px;
    --background-transition: 0.3s;
    --padding-top: 7em;
    --padding-bottom: 7em;
    --padding-left: 0em;
    --padding-right: 0em;
}

.elementor-1241 .elementor-element.elementor-element-4eaad59 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --justify-content: space-between;
    --gap: 50px 70px;
    --flex-wrap: wrap;
    --background-transition: 0.3s;
}

.elementor-1241 .elementor-element.elementor-element-9d1daaa {
    text-align: left;
    width: var(--container-widget-width, 32%);
    max-width: 32%;
    --container-widget-width: 32%;
    --container-widget-flex-grow: 0;
}

.elementor-1241 .elementor-element.elementor-element-db7ffa1 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --justify-content: space-between;
    --align-items: center;
    --flex-wrap: wrap;
    --background-transition: 0.3s;
}

.elementor-1241 .elementor-element.elementor-element-4c70a41 {
    color: var(--e-global-color-text);
    width: 100%;
    max-width: 100%;
}

.elementor-1241 .elementor-element.elementor-element-87225e2 .elementor-icon-box-wrapper {
    text-align: left;
}

.elementor-1241 .elementor-element.elementor-element-87225e2 .elementor-icon-box-title {
    margin-bottom: 10px;
}

.elementor-1241 .elementor-element.elementor-element-87225e2 .elementor-icon-box-description {
    color: var(--e-global-color-7cfaca3);
}

.elementor-1241 .elementor-element.elementor-element-87225e2 {
    width: var(--container-widget-width, 30%);
    max-width: 30%;
    --container-widget-width: 30%;
    --container-widget-flex-grow: 0;
}

.elementor-1241 .elementor-element.elementor-element-6120a75 img {
    opacity: 0.7;
}

.elementor-1241 .elementor-element.elementor-element-6120a75 {
    width: var(--container-widget-width, 30%);
    max-width: 30%;
    --container-widget-width: 30%;
    --container-widget-flex-grow: 0;
}

.elementor-1241 .elementor-element.elementor-element-bf5836b {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --justify-content: space-between;
    --gap: 20px 20px;
    --flex-wrap: wrap;
    --background-transition: 0.3s;
}

.elementor-1241 .elementor-element.elementor-element-6b2d016 {
    --display: flex;
    --background-transition: 0.3s;
    box-shadow: 0px 16px 40px -20px #7090B0;
    --padding-top: 3em;
    --padding-bottom: 3em;
    --padding-left: 3em;
    --padding-right: 3em;
}

.elementor-1241 .elementor-element.elementor-element-6b2d016:not(.elementor-motion-effects-element-type-background), .elementor-1241 .elementor-element.elementor-element-6b2d016 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: var(--e-global-color-accent);
}

.elementor-1241 .elementor-element.elementor-element-6b2d016, .elementor-1241 .elementor-element.elementor-element-6b2d016::before {
    --border-transition: 0.3s;
}

.elementor-1241 .elementor-element.elementor-element-91af808 .elementor-icon-box-wrapper {
    text-align: left;
}

.elementor-1241 .elementor-element.elementor-element-91af808 {
    --icon-box-icon-margin: 15px;
}

.elementor-1241 .elementor-element.elementor-element-91af808 .elementor-icon-box-title {
    margin-bottom: 6px;
}

.elementor-1241 .elementor-element.elementor-element-91af808.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-7cfaca3);
}

.elementor-1241 .elementor-element.elementor-element-91af808.elementor-view-framed .elementor-icon, .elementor-1241 .elementor-element.elementor-element-91af808.elementor-view-default .elementor-icon {
    fill: var(--e-global-color-7cfaca3);
    color: var(--e-global-color-7cfaca3);
    border-color: var(--e-global-color-7cfaca3);
}

.elementor-1241 .elementor-element.elementor-element-91af808 .elementor-icon {
    font-size: 60px;
}

.elementor-1241 .elementor-element.elementor-element-470e0f7 .elementor-button {
    font-family: var(--e-global-typography-accent-font-family), Sans-serif;
    font-size: var(--e-global-typography-accent-font-size);
    font-weight: var(--e-global-typography-accent-font-weight);
    line-height: var(--e-global-typography-accent-line-height);
    letter-spacing: var(--e-global-typography-accent-letter-spacing);
    fill: var(--e-global-color-7cfaca3);
    color: var(--e-global-color-7cfaca3);
    background-color: var(--e-global-color-00081e6);
    border-radius: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-1241 .elementor-element.elementor-element-470e0f7 .elementor-button:hover, .elementor-1241 .elementor-element.elementor-element-470e0f7 .elementor-button:focus {
    color: var(--e-global-color-primary);
    background-color: var(--e-global-color-00081e6);
}

.elementor-1241 .elementor-element.elementor-element-470e0f7 .elementor-button:hover svg, .elementor-1241 .elementor-element.elementor-element-470e0f7 .elementor-button:focus svg {
    fill: var(--e-global-color-primary);
}

.elementor-1241 .elementor-element.elementor-element-0c0027b {
    --display: flex;
    --background-transition: 0.3s;
    box-shadow: 0px 16px 40px -20px #7090B0;
    --padding-top: 3em;
    --padding-bottom: 3em;
    --padding-left: 3em;
    --padding-right: 3em;
}

.elementor-1241 .elementor-element.elementor-element-0c0027b:not(.elementor-motion-effects-element-type-background), .elementor-1241 .elementor-element.elementor-element-0c0027b > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: var(--e-global-color-accent);
}

.elementor-1241 .elementor-element.elementor-element-0c0027b, .elementor-1241 .elementor-element.elementor-element-0c0027b::before {
    --border-transition: 0.3s;
}

.elementor-1241 .elementor-element.elementor-element-a30bebd .elementor-icon-box-wrapper {
    text-align: left;
}

.elementor-1241 .elementor-element.elementor-element-a30bebd {
    --icon-box-icon-margin: 15px;
}

.elementor-1241 .elementor-element.elementor-element-a30bebd .elementor-icon-box-title {
    margin-bottom: 6px;
}

.elementor-1241 .elementor-element.elementor-element-a30bebd.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-7cfaca3);
}

.elementor-1241 .elementor-element.elementor-element-a30bebd.elementor-view-framed .elementor-icon, .elementor-1241 .elementor-element.elementor-element-a30bebd.elementor-view-default .elementor-icon {
    fill: var(--e-global-color-7cfaca3);
    color: var(--e-global-color-7cfaca3);
    border-color: var(--e-global-color-7cfaca3);
}

.elementor-1241 .elementor-element.elementor-element-a30bebd .elementor-icon {
    font-size: 60px;
}

.elementor-1241 .elementor-element.elementor-element-3186b13 .elementor-button {
    font-family: var(--e-global-typography-accent-font-family), Sans-serif;
    font-size: var(--e-global-typography-accent-font-size);
    font-weight: var(--e-global-typography-accent-font-weight);
    line-height: var(--e-global-typography-accent-line-height);
    letter-spacing: var(--e-global-typography-accent-letter-spacing);
    fill: var(--e-global-color-7cfaca3);
    color: var(--e-global-color-7cfaca3);
    background-color: var(--e-global-color-00081e6);
    border-radius: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-1241 .elementor-element.elementor-element-3186b13 .elementor-button:hover, .elementor-1241 .elementor-element.elementor-element-3186b13 .elementor-button:focus {
    color: var(--e-global-color-primary);
    background-color: var(--e-global-color-00081e6);
}

.elementor-1241 .elementor-element.elementor-element-3186b13 .elementor-button:hover svg, .elementor-1241 .elementor-element.elementor-element-3186b13 .elementor-button:focus svg {
    fill: var(--e-global-color-primary);
}

.elementor-1241 .elementor-element.elementor-element-9a19a01 {
    --display: flex;
    --background-transition: 0.3s;
    box-shadow: 0px 16px 40px -20px #7090B0;
    --padding-top: 3em;
    --padding-bottom: 3em;
    --padding-left: 3em;
    --padding-right: 3em;
}

.elementor-1241 .elementor-element.elementor-element-9a19a01:not(.elementor-motion-effects-element-type-background), .elementor-1241 .elementor-element.elementor-element-9a19a01 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: var(--e-global-color-accent);
}

.elementor-1241 .elementor-element.elementor-element-9a19a01, .elementor-1241 .elementor-element.elementor-element-9a19a01::before {
    --border-transition: 0.3s;
}

.elementor-1241 .elementor-element.elementor-element-cb2798c .elementor-icon-box-wrapper {
    text-align: left;
}

.elementor-1241 .elementor-element.elementor-element-cb2798c {
    --icon-box-icon-margin: 15px;
}

.elementor-1241 .elementor-element.elementor-element-cb2798c .elementor-icon-box-title {
    margin-bottom: 6px;
}

.elementor-1241 .elementor-element.elementor-element-cb2798c.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-7cfaca3);
}

.elementor-1241 .elementor-element.elementor-element-cb2798c.elementor-view-framed .elementor-icon, .elementor-1241 .elementor-element.elementor-element-cb2798c.elementor-view-default .elementor-icon {
    fill: var(--e-global-color-7cfaca3);
    color: var(--e-global-color-7cfaca3);
    border-color: var(--e-global-color-7cfaca3);
}

.elementor-1241 .elementor-element.elementor-element-cb2798c .elementor-icon {
    font-size: 60px;
}

.elementor-1241 .elementor-element.elementor-element-899e53b .elementor-button {
    font-family: var(--e-global-typography-accent-font-family), Sans-serif;
    font-size: var(--e-global-typography-accent-font-size);
    font-weight: var(--e-global-typography-accent-font-weight);
    line-height: var(--e-global-typography-accent-line-height);
    letter-spacing: var(--e-global-typography-accent-letter-spacing);
    fill: var(--e-global-color-7cfaca3);
    color: var(--e-global-color-7cfaca3);
    background-color: var(--e-global-color-00081e6);
    border-radius: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-1241 .elementor-element.elementor-element-899e53b .elementor-button:hover, .elementor-1241 .elementor-element.elementor-element-899e53b .elementor-button:focus {
    color: var(--e-global-color-primary);
    background-color: var(--e-global-color-00081e6);
}

.elementor-1241 .elementor-element.elementor-element-899e53b .elementor-button:hover svg, .elementor-1241 .elementor-element.elementor-element-899e53b .elementor-button:focus svg {
    fill: var(--e-global-color-primary);
}

.elementor-1241 .elementor-element.elementor-element-5d7c07f {
    --display: flex;
    --background-transition: 0.3s;
    box-shadow: 0px 16px 40px -20px #7090B0;
    --padding-top: 3em;
    --padding-bottom: 3em;
    --padding-left: 3em;
    --padding-right: 3em;
}

.elementor-1241 .elementor-element.elementor-element-5d7c07f:not(.elementor-motion-effects-element-type-background), .elementor-1241 .elementor-element.elementor-element-5d7c07f > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: var(--e-global-color-accent);
}

.elementor-1241 .elementor-element.elementor-element-5d7c07f, .elementor-1241 .elementor-element.elementor-element-5d7c07f::before {
    --border-transition: 0.3s;
}

.elementor-1241 .elementor-element.elementor-element-9adf12f .elementor-icon-box-wrapper {
    text-align: left;
}

.elementor-1241 .elementor-element.elementor-element-9adf12f {
    --icon-box-icon-margin: 15px;
}

.elementor-1241 .elementor-element.elementor-element-9adf12f .elementor-icon-box-title {
    margin-bottom: 6px;
}

.elementor-1241 .elementor-element.elementor-element-9adf12f.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-7cfaca3);
}

.elementor-1241 .elementor-element.elementor-element-9adf12f.elementor-view-framed .elementor-icon, .elementor-1241 .elementor-element.elementor-element-9adf12f.elementor-view-default .elementor-icon {
    fill: var(--e-global-color-7cfaca3);
    color: var(--e-global-color-7cfaca3);
    border-color: var(--e-global-color-7cfaca3);
}

.elementor-1241 .elementor-element.elementor-element-9adf12f .elementor-icon {
    font-size: 60px;
}

.elementor-1241 .elementor-element.elementor-element-2a06b3d .elementor-button {
    font-family: var(--e-global-typography-accent-font-family), Sans-serif;
    font-size: var(--e-global-typography-accent-font-size);
    font-weight: var(--e-global-typography-accent-font-weight);
    line-height: var(--e-global-typography-accent-line-height);
    letter-spacing: var(--e-global-typography-accent-letter-spacing);
    fill: var(--e-global-color-7cfaca3);
    color: var(--e-global-color-7cfaca3);
    background-color: var(--e-global-color-00081e6);
    border-radius: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-1241 .elementor-element.elementor-element-2a06b3d .elementor-button:hover, .elementor-1241 .elementor-element.elementor-element-2a06b3d .elementor-button:focus {
    color: var(--e-global-color-primary);
    background-color: var(--e-global-color-00081e6);
}

.elementor-1241 .elementor-element.elementor-element-2a06b3d .elementor-button:hover svg, .elementor-1241 .elementor-element.elementor-element-2a06b3d .elementor-button:focus svg {
    fill: var(--e-global-color-primary);
}

.elementor-1241 .elementor-element.elementor-element-f8d324a {
    --display: flex;
    --background-transition: 0.3s;
    box-shadow: 0px 16px 40px -20px #7090B0;
    --padding-top: 3em;
    --padding-bottom: 3em;
    --padding-left: 3em;
    --padding-right: 3em;
}

.elementor-1241 .elementor-element.elementor-element-f8d324a:not(.elementor-motion-effects-element-type-background), .elementor-1241 .elementor-element.elementor-element-f8d324a > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: var(--e-global-color-accent);
}

.elementor-1241 .elementor-element.elementor-element-f8d324a, .elementor-1241 .elementor-element.elementor-element-f8d324a::before {
    --border-transition: 0.3s;
}

.elementor-1241 .elementor-element.elementor-element-6457f08 .elementor-icon-box-wrapper {
    text-align: left;
}

.elementor-1241 .elementor-element.elementor-element-6457f08 {
    --icon-box-icon-margin: 15px;
}

.elementor-1241 .elementor-element.elementor-element-6457f08 .elementor-icon-box-title {
    margin-bottom: 6px;
}

.elementor-1241 .elementor-element.elementor-element-6457f08.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-7cfaca3);
}

.elementor-1241 .elementor-element.elementor-element-6457f08.elementor-view-framed .elementor-icon, .elementor-1241 .elementor-element.elementor-element-6457f08.elementor-view-default .elementor-icon {
    fill: var(--e-global-color-7cfaca3);
    color: var(--e-global-color-7cfaca3);
    border-color: var(--e-global-color-7cfaca3);
}

.elementor-1241 .elementor-element.elementor-element-6457f08 .elementor-icon {
    font-size: 60px;
}

.elementor-1241 .elementor-element.elementor-element-20eff77 .elementor-button {
    font-family: var(--e-global-typography-accent-font-family), Sans-serif;
    font-size: var(--e-global-typography-accent-font-size);
    font-weight: var(--e-global-typography-accent-font-weight);
    line-height: var(--e-global-typography-accent-line-height);
    letter-spacing: var(--e-global-typography-accent-letter-spacing);
    fill: var(--e-global-color-7cfaca3);
    color: var(--e-global-color-7cfaca3);
    background-color: var(--e-global-color-00081e6);
    border-radius: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-1241 .elementor-element.elementor-element-20eff77 .elementor-button:hover, .elementor-1241 .elementor-element.elementor-element-20eff77 .elementor-button:focus {
    color: var(--e-global-color-primary);
    background-color: var(--e-global-color-00081e6);
}

.elementor-1241 .elementor-element.elementor-element-20eff77 .elementor-button:hover svg, .elementor-1241 .elementor-element.elementor-element-20eff77 .elementor-button:focus svg {
    fill: var(--e-global-color-primary);
}

.elementor-1241 .elementor-element.elementor-element-3d2a0f8 {
    --display: flex;
    --background-transition: 0.3s;
    box-shadow: 0px 16px 40px -20px #7090B0;
    --padding-top: 3em;
    --padding-bottom: 3em;
    --padding-left: 3em;
    --padding-right: 3em;
}

.elementor-1241 .elementor-element.elementor-element-3d2a0f8:not(.elementor-motion-effects-element-type-background), .elementor-1241 .elementor-element.elementor-element-3d2a0f8 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: var(--e-global-color-accent);
}

.elementor-1241 .elementor-element.elementor-element-3d2a0f8, .elementor-1241 .elementor-element.elementor-element-3d2a0f8::before {
    --border-transition: 0.3s;
}

.elementor-1241 .elementor-element.elementor-element-6ee80e9 .elementor-icon-box-wrapper {
    text-align: left;
}

.elementor-1241 .elementor-element.elementor-element-6ee80e9 {
    --icon-box-icon-margin: 15px;
}

.elementor-1241 .elementor-element.elementor-element-6ee80e9 .elementor-icon-box-title {
    margin-bottom: 6px;
}

.elementor-1241 .elementor-element.elementor-element-6ee80e9.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-7cfaca3);
}

.elementor-1241 .elementor-element.elementor-element-6ee80e9.elementor-view-framed .elementor-icon, .elementor-1241 .elementor-element.elementor-element-6ee80e9.elementor-view-default .elementor-icon {
    fill: var(--e-global-color-7cfaca3);
    color: var(--e-global-color-7cfaca3);
    border-color: var(--e-global-color-7cfaca3);
}

.elementor-1241 .elementor-element.elementor-element-6ee80e9 .elementor-icon {
    font-size: 60px;
}

.elementor-1241 .elementor-element.elementor-element-995ac99 .elementor-button {
    font-family: var(--e-global-typography-accent-font-family), Sans-serif;
    font-size: var(--e-global-typography-accent-font-size);
    font-weight: var(--e-global-typography-accent-font-weight);
    line-height: var(--e-global-typography-accent-line-height);
    letter-spacing: var(--e-global-typography-accent-letter-spacing);
    fill: var(--e-global-color-7cfaca3);
    color: var(--e-global-color-7cfaca3);
    background-color: var(--e-global-color-00081e6);
    border-radius: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-1241 .elementor-element.elementor-element-995ac99 .elementor-button:hover, .elementor-1241 .elementor-element.elementor-element-995ac99 .elementor-button:focus {
    color: var(--e-global-color-primary);
    background-color: var(--e-global-color-00081e6);
}

.elementor-1241 .elementor-element.elementor-element-995ac99 .elementor-button:hover svg, .elementor-1241 .elementor-element.elementor-element-995ac99 .elementor-button:focus svg {
    fill: var(--e-global-color-primary);
}

.elementor-1241 .elementor-element.elementor-element-ec2c4e3 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 0px 0px;
    --flex-wrap: wrap;
    --background-transition: 0.3s;
    --padding-top: 0em;
    --padding-bottom: 0em;
    --padding-left: 0em;
    --padding-right: 0em;
}

.elementor-1241 .elementor-element.elementor-element-ec2c4e3:not(.elementor-motion-effects-element-type-background), .elementor-1241 .elementor-element.elementor-element-ec2c4e3 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: var(--e-global-color-8ff4e63);
}

.elementor-1241 .elementor-element.elementor-element-ec2c4e3, .elementor-1241 .elementor-element.elementor-element-ec2c4e3::before {
    --border-transition: 0.3s;
}

.elementor-1241 .elementor-element.elementor-element-74f4236 {
    --display: flex;
    --background-transition: 0.3s;
    --padding-top: 7em;
    --padding-bottom: 7em;
    --padding-left: 7em;
    --padding-right: 7em;
}

.elementor-1241 .elementor-element.elementor-element-843d563 .elementor-heading-title {
    color: var(--e-global-color-8ff4e63);
    font-family: "IBM Plex Sans Arabic", Sans-serif;
    font-size: 0.8rem;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.2em;
    letter-spacing: 2.5px;
}

.elementor-1241 .elementor-element.elementor-element-843d563 > .elementor-widget-container {
    padding: 10px 15px 10px 15px;
    background-color: var(--e-global-color-7cfaca3);
}

.elementor-1241 .elementor-element.elementor-element-843d563.elementor-element {
    --align-self: flex-start;
}

.elementor-1241 .elementor-element.elementor-element-0b8ad9f {
    text-align: left;
    width: 100%;
    max-width: 100%;
}

.elementor-1241 .elementor-element.elementor-element-0b8ad9f .elementor-heading-title {
    color: var(--e-global-color-secondary);
}

.elementor-1241 .elementor-element.elementor-element-2d35b54 {
    color: var(--e-global-color-b87daee);
}

.elementor-1241 .elementor-element.elementor-element-b637192 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 20px 20px;
    --flex-wrap: wrap;
    --background-transition: 0.3s;
}

.elementor-1241 .elementor-element.elementor-element-3ad2eb4.elementor-position-right .elementor-image-box-img {
    margin-left: 15px;
}

.elementor-1241 .elementor-element.elementor-element-3ad2eb4.elementor-position-left .elementor-image-box-img {
    margin-right: 15px;
}

.elementor-1241 .elementor-element.elementor-element-3ad2eb4.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px;
}

.elementor-1241 .elementor-element.elementor-element-3ad2eb4 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 30%;
}

.elementor-1241 .elementor-element.elementor-element-3ad2eb4 .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-1241 .elementor-element.elementor-element-3ad2eb4 .elementor-image-box-title {
    color: var(--e-global-color-secondary);
}

.elementor-1241 .elementor-element.elementor-element-3ad2eb4 {
    width: var(--container-widget-width, 48%);
    max-width: 48%;
    --container-widget-width: 48%;
    --container-widget-flex-grow: 0;
}

.elementor-1241 .elementor-element.elementor-element-cae9028.elementor-position-right .elementor-image-box-img {
    margin-left: 15px;
}

.elementor-1241 .elementor-element.elementor-element-cae9028.elementor-position-left .elementor-image-box-img {
    margin-right: 15px;
}

.elementor-1241 .elementor-element.elementor-element-cae9028.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px;
}

.elementor-1241 .elementor-element.elementor-element-cae9028 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 30%;
}

.elementor-1241 .elementor-element.elementor-element-cae9028 .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-1241 .elementor-element.elementor-element-cae9028 .elementor-image-box-title {
    color: var(--e-global-color-secondary);
}

.elementor-1241 .elementor-element.elementor-element-cae9028 {
    width: var(--container-widget-width, 48%);
    max-width: 48%;
    --container-widget-width: 48%;
    --container-widget-flex-grow: 0;
}

.elementor-1241 .elementor-element.elementor-element-3d21f59.elementor-position-right .elementor-image-box-img {
    margin-left: 15px;
}

.elementor-1241 .elementor-element.elementor-element-3d21f59.elementor-position-left .elementor-image-box-img {
    margin-right: 15px;
}

.elementor-1241 .elementor-element.elementor-element-3d21f59.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px;
}

.elementor-1241 .elementor-element.elementor-element-3d21f59 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 30%;
}

.elementor-1241 .elementor-element.elementor-element-3d21f59 .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-1241 .elementor-element.elementor-element-3d21f59 .elementor-image-box-title {
    color: var(--e-global-color-secondary);
}

.elementor-1241 .elementor-element.elementor-element-3d21f59 {
    width: var(--container-widget-width, 48%);
    max-width: 48%;
    --container-widget-width: 48%;
    --container-widget-flex-grow: 0;
}

.elementor-1241 .elementor-element.elementor-element-0092dfe.elementor-position-right .elementor-image-box-img {
    margin-left: 15px;
}

.elementor-1241 .elementor-element.elementor-element-0092dfe.elementor-position-left .elementor-image-box-img {
    margin-right: 15px;
}

.elementor-1241 .elementor-element.elementor-element-0092dfe.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px;
}

.elementor-1241 .elementor-element.elementor-element-0092dfe .elementor-image-box-wrapper .elementor-image-box-img {
    width: 30%;
}

.elementor-1241 .elementor-element.elementor-element-0092dfe .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-1241 .elementor-element.elementor-element-0092dfe .elementor-image-box-title {
    color: var(--e-global-color-secondary);
}

.elementor-1241 .elementor-element.elementor-element-0092dfe {
    width: var(--container-widget-width, 48%);
    max-width: 48%;
    --container-widget-width: 48%;
    --container-widget-flex-grow: 0;
}

.elementor-1241 .elementor-element.elementor-element-86a2f37 {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-1241 .elementor-element.elementor-element-86a2f37:not(.elementor-motion-effects-element-type-background), .elementor-1241 .elementor-element.elementor-element-86a2f37 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-image: url("../../2024/04/two-people-in-front-of-the-storage-room-entrance-5Q79DFP-e1714154580951_4456483.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-1241 .elementor-element.elementor-element-86a2f37, .elementor-1241 .elementor-element.elementor-element-86a2f37::before {
    --border-transition: 0.3s;
}

.elementor-1241 .elementor-element.elementor-element-54479da {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 0px 0px;
    --background-transition: 0.3s;
    --padding-top: 7em;
    --padding-bottom: 7em;
    --padding-left: 0em;
    --padding-right: 0em;
}

.elementor-1241 .elementor-element.elementor-element-faa4b61 {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-1241 .elementor-element.elementor-element-586115e .elementor-heading-title {
    color: var(--e-global-color-8ff4e63);
    font-family: "IBM Plex Sans Arabic", Sans-serif;
    font-size: 0.8rem;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.2em;
    letter-spacing: 2.5px;
}

.elementor-1241 .elementor-element.elementor-element-586115e > .elementor-widget-container {
    padding: 10px 15px 10px 15px;
    background-color: var(--e-global-color-7cfaca3);
}

.elementor-1241 .elementor-element.elementor-element-586115e.elementor-element {
    --align-self: flex-start;
}

.elementor-1241 .elementor-element.elementor-element-722bb3a {
    text-align: left;
    width: 100%;
    max-width: 100%;
}

.elementor-1241 .elementor-element.elementor-element-1071f07 {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-1241 .elementor-element.elementor-element-9ef1f1f .rkit-testimonial-carousel {
    padding: 0px 0px 0px 0px;
}

.elementor-1241 .elementor-element.elementor-element-9ef1f1f .rkit-testimonial-card {
    padding: 0px 0px 0px 25px;
    border-radius: 0px 0px 0px 0px;
    background-color: var(--e-global-color-00081e6);
    border-style: solid;
    border-width: 0px 0px 0px 5px;
    border-color: var(--e-global-color-7cfaca3);
}

.elementor-1241 .elementor-element.elementor-element-9ef1f1f .rkit-testimonial-card .testimonial_body {
    padding: 0px 0px 50px 0px;
    border-radius: 0px 0px 0px 0px;
    background-color: var(--e-global-color-00081e6);
}

.elementor-1241 .elementor-element.elementor-element-9ef1f1f .testimonial_description {
    text-align: left;
    font-family: "IBM Plex Sans Arabic", Sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    font-style: italic;
    line-height: 1.6em;
    color: var(--e-global-color-primary);
}

.elementor-1241 .elementor-element.elementor-element-9ef1f1f .testimonial-author {
    text-align: left;
}

.elementor-1241 .elementor-element.elementor-element-9ef1f1f .rkit-testimonial-wrapper.style_4 .testimonial_header {
    justify-content: left;
}

.elementor-1241 .elementor-element.elementor-element-9ef1f1f .testimonial-author strong {
    font-family: var(--e-global-typography-8c0b085-font-family), Sans-serif;
    font-size: var(--e-global-typography-8c0b085-font-size);
    font-weight: var(--e-global-typography-8c0b085-font-weight);
    line-height: var(--e-global-typography-8c0b085-line-height);
    letter-spacing: var(--e-global-typography-8c0b085-letter-spacing);
    word-spacing: var(--e-global-typography-8c0b085-word-spacing);
    color: var(--e-global-color-primary);
}

.elementor-1241 .elementor-element.elementor-element-9ef1f1f .testimonial-author span {
    font-family: var(--e-global-typography-e368050-font-family), Sans-serif;
    font-size: var(--e-global-typography-e368050-font-size);
    font-weight: var(--e-global-typography-e368050-font-weight);
    line-height: var(--e-global-typography-e368050-line-height);
    letter-spacing: var(--e-global-typography-e368050-letter-spacing);
    word-spacing: var(--e-global-typography-e368050-word-spacing);
    color: var(--e-global-color-7cfaca3);
}

.elementor-1241 .elementor-element.elementor-element-9ef1f1f .testimonial-client-img {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.elementor-1241 .elementor-element.elementor-element-9ef1f1f .testimonial_quote_wrapper {
    justify-content: start;
}

.elementor-1241 .elementor-element.elementor-element-9ef1f1f .testimonial_quote_icon {
    font-size: 100px;
}

.elementor-1241 .elementor-element.elementor-element-9ef1f1f .testimonial_quote {
    margin: -17px 0px 0px -10px;
    padding: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    color: var(--e-global-color-7cfaca3);
}

.elementor-1241 .elementor-element.elementor-element-9ef1f1f > .elementor-widget-container {
    margin: 0px 0px -46px 0px;
}

@media (max-width: 1024px) {
    .elementor-1241 .elementor-element.elementor-element-006d1ef {
        text-align: center;
    }

    .elementor-1241 .elementor-element.elementor-element-4f7b64a {
        font-size: var(--e-global-typography-8c0b085-font-size);
        line-height: var(--e-global-typography-8c0b085-line-height);
        letter-spacing: var(--e-global-typography-8c0b085-letter-spacing);
        word-spacing: var(--e-global-typography-8c0b085-word-spacing);
    }

    .elementor-1241 .elementor-element.elementor-element-4eaad59 {
        --gap: 20px 20px;
    }

    .elementor-1241 .elementor-element.elementor-element-9d1daaa {
        --container-widget-width: 100%;
        --container-widget-flex-grow: 0;
        width: var(--container-widget-width, 100%);
        max-width: 100%;
    }

    .elementor-1241 .elementor-element.elementor-element-470e0f7 .elementor-button {
        font-size: var(--e-global-typography-accent-font-size);
        line-height: var(--e-global-typography-accent-line-height);
        letter-spacing: var(--e-global-typography-accent-letter-spacing);
    }

    .elementor-1241 .elementor-element.elementor-element-3186b13 .elementor-button {
        font-size: var(--e-global-typography-accent-font-size);
        line-height: var(--e-global-typography-accent-line-height);
        letter-spacing: var(--e-global-typography-accent-letter-spacing);
    }

    .elementor-1241 .elementor-element.elementor-element-899e53b .elementor-button {
        font-size: var(--e-global-typography-accent-font-size);
        line-height: var(--e-global-typography-accent-line-height);
        letter-spacing: var(--e-global-typography-accent-letter-spacing);
    }

    .elementor-1241 .elementor-element.elementor-element-2a06b3d .elementor-button {
        font-size: var(--e-global-typography-accent-font-size);
        line-height: var(--e-global-typography-accent-line-height);
        letter-spacing: var(--e-global-typography-accent-letter-spacing);
    }

    .elementor-1241 .elementor-element.elementor-element-20eff77 .elementor-button {
        font-size: var(--e-global-typography-accent-font-size);
        line-height: var(--e-global-typography-accent-line-height);
        letter-spacing: var(--e-global-typography-accent-letter-spacing);
    }

    .elementor-1241 .elementor-element.elementor-element-995ac99 .elementor-button {
        font-size: var(--e-global-typography-accent-font-size);
        line-height: var(--e-global-typography-accent-line-height);
        letter-spacing: var(--e-global-typography-accent-letter-spacing);
    }

    .elementor-1241 .elementor-element.elementor-element-ec2c4e3 {
        --flex-direction: column;
        --container-widget-width: 100%;
        --container-widget-height: initial;
        --container-widget-flex-grow: 0;
        --container-widget-align-self: initial;
    }

    .elementor-1241 .elementor-element.elementor-element-74f4236 {
        --padding-top: 5em;
        --padding-bottom: 5em;
        --padding-left: 5em;
        --padding-right: 5em;
    }

    .elementor-1241 .elementor-element.elementor-element-86a2f37 {
        --min-height: 80vh;
    }

    .elementor-1241 .elementor-element.elementor-element-86a2f37.e-con {
        --order: -99999 /* order start hack */;
    }

    .elementor-1241 .elementor-element.elementor-element-54479da {
        --flex-direction: column;
        --container-widget-width: 100%;
        --container-widget-height: initial;
        --container-widget-flex-grow: 0;
        --container-widget-align-self: initial;
        --gap: 50px 50px;
    }

    .elementor-1241 .elementor-element.elementor-element-9ef1f1f .rkit-testimonial-carousel {
        padding: 0em 0em 0em 0em;
    }

    .elementor-1241 .elementor-element.elementor-element-9ef1f1f .testimonial_description {
        font-size: 1.3rem;
    }

    .elementor-1241 .elementor-element.elementor-element-9ef1f1f .testimonial-author strong {
        font-size: var(--e-global-typography-8c0b085-font-size);
        line-height: var(--e-global-typography-8c0b085-line-height);
        letter-spacing: var(--e-global-typography-8c0b085-letter-spacing);
        word-spacing: var(--e-global-typography-8c0b085-word-spacing);
    }

    .elementor-1241 .elementor-element.elementor-element-9ef1f1f .testimonial-author span {
        font-size: var(--e-global-typography-e368050-font-size);
        line-height: var(--e-global-typography-e368050-line-height);
        letter-spacing: var(--e-global-typography-e368050-letter-spacing);
        word-spacing: var(--e-global-typography-e368050-word-spacing);
    }
}

@media (max-width: 767px) {
    .elementor-1241 .elementor-element.elementor-element-4f7b64a {
        font-size: var(--e-global-typography-8c0b085-font-size);
        line-height: var(--e-global-typography-8c0b085-line-height);
        letter-spacing: var(--e-global-typography-8c0b085-letter-spacing);
        word-spacing: var(--e-global-typography-8c0b085-word-spacing);
    }

    .elementor-1241 .elementor-element.elementor-element-9d1daaa {
        text-align: center;
    }

    .elementor-1241 .elementor-element.elementor-element-9d1daaa > .elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-1241 .elementor-element.elementor-element-db7ffa1 {
        --flex-direction: column;
        --container-widget-width: 100%;
        --container-widget-height: initial;
        --container-widget-flex-grow: 0;
        --container-widget-align-self: initial;
    }

    .elementor-1241 .elementor-element.elementor-element-4c70a41 {
        text-align: center;
    }

    .elementor-1241 .elementor-element.elementor-element-87225e2 .elementor-icon-box-wrapper {
        text-align: center;
    }

    .elementor-1241 .elementor-element.elementor-element-87225e2 {
        width: 100%;
        max-width: 100%;
    }

    .elementor-1241 .elementor-element.elementor-element-6120a75 {
        --container-widget-width: 60%;
        --container-widget-flex-grow: 0;
        width: var(--container-widget-width, 60%);
        max-width: 60%;
    }

    .elementor-1241 .elementor-element.elementor-element-91af808 .elementor-icon-box-wrapper {
        text-align: center;
    }

    .elementor-1241 .elementor-element.elementor-element-470e0f7 .elementor-button {
        font-size: var(--e-global-typography-accent-font-size);
        line-height: var(--e-global-typography-accent-line-height);
        letter-spacing: var(--e-global-typography-accent-letter-spacing);
    }

    .elementor-1241 .elementor-element.elementor-element-a30bebd .elementor-icon-box-wrapper {
        text-align: center;
    }

    .elementor-1241 .elementor-element.elementor-element-3186b13 .elementor-button {
        font-size: var(--e-global-typography-accent-font-size);
        line-height: var(--e-global-typography-accent-line-height);
        letter-spacing: var(--e-global-typography-accent-letter-spacing);
    }

    .elementor-1241 .elementor-element.elementor-element-cb2798c .elementor-icon-box-wrapper {
        text-align: center;
    }

    .elementor-1241 .elementor-element.elementor-element-899e53b .elementor-button {
        font-size: var(--e-global-typography-accent-font-size);
        line-height: var(--e-global-typography-accent-line-height);
        letter-spacing: var(--e-global-typography-accent-letter-spacing);
    }

    .elementor-1241 .elementor-element.elementor-element-9adf12f .elementor-icon-box-wrapper {
        text-align: center;
    }

    .elementor-1241 .elementor-element.elementor-element-2a06b3d .elementor-button {
        font-size: var(--e-global-typography-accent-font-size);
        line-height: var(--e-global-typography-accent-line-height);
        letter-spacing: var(--e-global-typography-accent-letter-spacing);
    }

    .elementor-1241 .elementor-element.elementor-element-6457f08 .elementor-icon-box-wrapper {
        text-align: center;
    }

    .elementor-1241 .elementor-element.elementor-element-20eff77 .elementor-button {
        font-size: var(--e-global-typography-accent-font-size);
        line-height: var(--e-global-typography-accent-line-height);
        letter-spacing: var(--e-global-typography-accent-letter-spacing);
    }

    .elementor-1241 .elementor-element.elementor-element-6ee80e9 .elementor-icon-box-wrapper {
        text-align: center;
    }

    .elementor-1241 .elementor-element.elementor-element-995ac99 .elementor-button {
        font-size: var(--e-global-typography-accent-font-size);
        line-height: var(--e-global-typography-accent-line-height);
        letter-spacing: var(--e-global-typography-accent-letter-spacing);
    }

    .elementor-1241 .elementor-element.elementor-element-74f4236 {
        --padding-top: 5em;
        --padding-bottom: 5em;
        --padding-left: 2em;
        --padding-right: 2em;
    }

    .elementor-1241 .elementor-element.elementor-element-843d563.elementor-element {
        --align-self: center;
    }

    .elementor-1241 .elementor-element.elementor-element-0b8ad9f {
        text-align: center;
    }

    .elementor-1241 .elementor-element.elementor-element-0b8ad9f > .elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-1241 .elementor-element.elementor-element-2d35b54 {
        text-align: center;
    }

    .elementor-1241 .elementor-element.elementor-element-3ad2eb4 .elementor-image-box-img {
        margin-bottom: 15px;
    }

    .elementor-1241 .elementor-element.elementor-element-3ad2eb4 .elementor-image-box-wrapper .elementor-image-box-img {
        width: 20%;
    }

    .elementor-1241 .elementor-element.elementor-element-3ad2eb4 {
        width: 100%;
        max-width: 100%;
    }

    .elementor-1241 .elementor-element.elementor-element-cae9028 .elementor-image-box-img {
        margin-bottom: 15px;
    }

    .elementor-1241 .elementor-element.elementor-element-cae9028 .elementor-image-box-wrapper .elementor-image-box-img {
        width: 20%;
    }

    .elementor-1241 .elementor-element.elementor-element-cae9028 {
        width: 100%;
        max-width: 100%;
    }

    .elementor-1241 .elementor-element.elementor-element-3d21f59 .elementor-image-box-img {
        margin-bottom: 15px;
    }

    .elementor-1241 .elementor-element.elementor-element-3d21f59 .elementor-image-box-wrapper .elementor-image-box-img {
        width: 20%;
    }

    .elementor-1241 .elementor-element.elementor-element-3d21f59 {
        width: 100%;
        max-width: 100%;
    }

    .elementor-1241 .elementor-element.elementor-element-0092dfe .elementor-image-box-img {
        margin-bottom: 15px;
    }

    .elementor-1241 .elementor-element.elementor-element-0092dfe .elementor-image-box-wrapper .elementor-image-box-img {
        width: 20%;
    }

    .elementor-1241 .elementor-element.elementor-element-0092dfe {
        width: 100%;
        max-width: 100%;
    }

    .elementor-1241 .elementor-element.elementor-element-586115e.elementor-element {
        --align-self: center;
    }

    .elementor-1241 .elementor-element.elementor-element-722bb3a {
        text-align: center;
    }

    .elementor-1241 .elementor-element.elementor-element-722bb3a > .elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-1241 .elementor-element.elementor-element-9ef1f1f .rkit-testimonial-carousel {
        padding: 0em 0em 0em 0em;
    }

    .elementor-1241 .elementor-element.elementor-element-9ef1f1f .rkit-testimonial-card {
        padding: 0px 0px 0px 0px;
        border-width: 0px 0px 0px 0px;
    }

    .elementor-1241 .elementor-element.elementor-element-9ef1f1f .testimonial_description {
        text-align: center;
        font-size: 1.1rem;
    }

    .elementor-1241 .elementor-element.elementor-element-9ef1f1f .testimonial-author {
        text-align: center;
    }

    .elementor-1241 .elementor-element.elementor-element-9ef1f1f .rkit-testimonial-wrapper.style_4 .testimonial_header {
        justify-content: center;
    }

    .elementor-1241 .elementor-element.elementor-element-9ef1f1f .testimonial-author strong {
        font-size: var(--e-global-typography-8c0b085-font-size);
        line-height: var(--e-global-typography-8c0b085-line-height);
        letter-spacing: var(--e-global-typography-8c0b085-letter-spacing);
        word-spacing: var(--e-global-typography-8c0b085-word-spacing);
    }

    .elementor-1241 .elementor-element.elementor-element-9ef1f1f .testimonial-author span {
        font-size: var(--e-global-typography-e368050-font-size);
        line-height: var(--e-global-typography-e368050-line-height);
        letter-spacing: var(--e-global-typography-e368050-letter-spacing);
        word-spacing: var(--e-global-typography-e368050-word-spacing);
    }
}

@media (min-width: 768px) {
    .elementor-1241 .elementor-element.elementor-element-db7ffa1 {
        --width: 62%;
    }

    .elementor-1241 .elementor-element.elementor-element-6b2d016 {
        --width: 32%;
    }

    .elementor-1241 .elementor-element.elementor-element-0c0027b {
        --width: 32%;
    }

    .elementor-1241 .elementor-element.elementor-element-9a19a01 {
        --width: 32%;
    }

    .elementor-1241 .elementor-element.elementor-element-5d7c07f {
        --width: 32%;
    }

    .elementor-1241 .elementor-element.elementor-element-f8d324a {
        --width: 32%;
    }

    .elementor-1241 .elementor-element.elementor-element-3d2a0f8 {
        --width: 32%;
    }

    .elementor-1241 .elementor-element.elementor-element-74f4236 {
        --width: 55%;
    }

    .elementor-1241 .elementor-element.elementor-element-86a2f37 {
        --width: 45%;
    }

    .elementor-1241 .elementor-element.elementor-element-faa4b61 {
        --width: 30%;
    }

    .elementor-1241 .elementor-element.elementor-element-1071f07 {
        --width: 70%;
    }
}

@media (max-width: 1024px) and (min-width: 768px) {
    .elementor-1241 .elementor-element.elementor-element-db7ffa1 {
        --width: 100%;
    }

    .elementor-1241 .elementor-element.elementor-element-6b2d016 {
        --width: 48%;
    }

    .elementor-1241 .elementor-element.elementor-element-0c0027b {
        --width: 48%;
    }

    .elementor-1241 .elementor-element.elementor-element-9a19a01 {
        --width: 48%;
    }

    .elementor-1241 .elementor-element.elementor-element-5d7c07f {
        --width: 48%;
    }

    .elementor-1241 .elementor-element.elementor-element-f8d324a {
        --width: 48%;
    }

    .elementor-1241 .elementor-element.elementor-element-3d2a0f8 {
        --width: 48%;
    }

    .elementor-1241 .elementor-element.elementor-element-74f4236 {
        --width: 100%;
    }

    .elementor-1241 .elementor-element.elementor-element-86a2f37 {
        --width: 100%;
    }

    .elementor-1241 .elementor-element.elementor-element-faa4b61 {
        --width: 100%;
    }

    .elementor-1241 .elementor-element.elementor-element-1071f07 {
        --width: 100%;
    }
}
